*{margin: 0%;
padding: 0;
box-sizing: border-box;}

body {
    background-color: #ebd5ffea !important;
}
nav a img {
    width: 80px;
    height: auto;
    margin-left: 80px;
}
.titulo1{
    background-color: #390053;
}
.navbar-collapse {
    justify-content: flex-end;
}

.nav-item {
    padding: 0 50px;
}


.hannahpng img {
    width: 400px;
}
.acercade img {
    width: 400px;
    border-radius: 10px;
}

div .card {
    flex-direction: row;
}

.card img {
    width: 200px;
    height: auto;
}

div .card-group {
    flex-wrap: wrap;
}

.movieheader img{
    width: 350px;
}


.albumes img{
    width: 210px;
}

.iconic h2{
    
    color:#390053;
}
.header-serie img {
    width: 100%;
}

footer {
    background-color: #390053;
}

.vermovie {
    background-color: #390053;
    color: white;
}